<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <form (ngSubmit)="onSubmit()" #userForm="ngForm">
        <div class="container">
            <div class="row">
                <div class="col entrada">

                    <p>name:</p>
                    <input type="text" class="form-control" required [(ngModel)]="name" name="nombre">

                </div>


            </div>
            <div class="row">
                <div class="col entrada">

                    <p>password:</p>
                    <input type="password" class="form-control" required [(ngModel)]="password" name="password">

                </div>


            </div>

            <button type="submit" class="btn btn-primary" [disabled]="!userForm.form.valid">Entrar</button>

        </div>
    </form>

    <div class="container">
        <div class="row">
            <div class="col">
                <p>{{mensaje}}</p>
            </div>
        </div>
    </div>
    

</body>

</html>